body {
	font-family: "acumin-pro", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #cccccc;
}

::selection {
	background: #c6c6c6;
}

#wrapper {
	width: 650px;
	margin: 0 auto;
	padding: 0px;
}

ul.sociallinks {
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
	text-align: center;
}

ul.sociallinks li {
	display: inline;
	text-decoration: none;
}

ul.sociallinks li a {
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	margin: 14px;
	text-transform: uppercase;
	color: #ffffff;
	opacity: .8;
}

ul.sociallinks li a:hover {
	opacity: .4;
}

.me {
	text-align: center;
	margin: 216px 0 0 0;
	padding: 0;
}

/*
.photo img {
	border-radius: 50%;
	display: block;
	margin: 90px 0 0 36px;
}
*/

a.name {
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: .5px;
	color: #000000;
	text-transform: uppercase;
	opacity: .8;
	display: inline;
}

a.name:hover{
	color: #ffffff;
	opacity: .4;
}

.title {
	font-weight: 600;
	font-size: 12px;
	color: #000000;
	letter-spacing: .5px;
	text-transform: uppercase;
	opacity: .4;
	display: inline;

}

.description {
	width: 320px;
	margin: -44px 0 0 298px;
}

.ly {
	color: #d3d3d3;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 3px 0;
}

.lytext {
	color: #000000;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 14px 0;
}

.work {
	padding: 0;
	margin: 0 auto;
	margin-top: 220px;
	list-style: none;
	text-align: center;
	-webkit-transition-property: margin-top;
	-moz-transition-property: margin-top;
	-ms-transition-property: margin-top;
	-o-transition-property: margin-top;
	transition-property: margin-top;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s
}

.block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	width: 88%;
	height: auto;
	margin-bottom: 40px;
}

.blockend {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	width: 88%;
	height: auto;
	margin-bottom: 6%;
}

.block img {
	max-height: 774.5px;
	height: auto;
	width: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 32px;
}

.blockend img {
	max-height: 774.5px;
	height: auto;
	width: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 32px;
}

.blockdescription {
	font-size: 14px;
	padding-top: 44px;
	padding-bottom: 44px;
}

.projecttitle {
	font-weight: 600;
	padding-bottom: 1px;
	font-size: 12px;
	letter-spacing: .5px;
	color: #000000;
	text-transform: uppercase;
	opacity: .4;
}

a.projectlink {
	color: #000000;
	letter-spacing: .5px;
	font-style: italic;
	opacity: .25;
}

a.projectlink:hover {
	opacity: 0.4;
	color: #ffffff;
}

.projectyear {
	margin-top: 22px;
	color: #edf0f3;
	letter-spacing: .1px;
	font-weight: 600;
	font-size: 14px;
}

.yearbg {
	background-color: #000000;
	opacity: .2;
	display: block;
	width: 44px;
	height: 19px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	padding: 0px 0 4px 1px;
	
}

@media only screen and (max-width: 736px)  {
	
	#wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	}

	.me {
	text-align: left;
	margin: 40px 0 0 6%;
	}

	a.name {
	display: block;
	}
	
	.title {
	margin: 2px 0 0 0;
	display: block;
}
	
	ul.sociallinks {
	font-weight: 400;
	font-size: 11pt;
	list-style: none;
	margin: 30px 0 0 6%;
	padding: 0;
	text-align: left;
	width: 166px;
	}

	ul.sociallinks li {
	text-decoration: none;
	}

	ul.sociallinks li a {
	display: list-item;
	text-decoration: none;
	margin: 7px 0 7px 0;
	text-transform: uppercase;
	color: #ffffff;
	opacity: .8;
	}
	
	.description {
	max-width: 320px;
	width: 88%;
	margin: 40px 0 20px 6%;
	}
	
	.work {
	padding: 0;
	margin: 0 auto;
	margin-top: 90px;
	list-style: none;
	text-align: center;
}

}

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ 
	#wrapper {
	width: auto;
	margin: 0 auto;
	padding: 0px;
	}

	.me {
	text-align: left;
	margin: 40px 0 0 6%;
	}

	a.name {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	}
	
	ul.sociallinks {
	font-weight: 400;
	font-size: 11pt;
	list-style: none;
	margin: 30px 0 0 6%;
	padding: 0;
	text-align: left;
	}

	ul.sociallinks li {
	text-decoration: none;
	}

	ul.sociallinks li a {
	display: list-item;
	text-decoration: none;
	margin: 7px 0 7px 0;
	text-transform: uppercase;
	color: #ffffff;
	opacity: .7;
	}
	
	.description {
	max-width: 320px;
	width: 88%;
	margin: 40px 0 20px 6%;
	}
	
	.work {
	padding: 0;
	margin: 0 auto;
	margin-top: 90px;
	list-style: none;
	text-align: center;
}
}

	
@media only screen and (max-height: 670px) and (min-width: 736px)  {
	
	.work {
	padding: 0;
	margin: 0 auto;
	margin-top: 120px;
	list-style: none;
	text-align: center;
	}
	
}
